
form{
    align-self: center;
    align-items: center;
    background-color: red; /* this is a test */
}

.obs-textbox{
    width: 90%;
    margin: 10px;
}

label{
    margin: 10px;
    max-width: 100%;
}

input{
    margin: 10px;
    max-width: 100%;

}