
form{
    align-self: center;
    align-items: center;
}

.obs-textbox{
    width: 90%;
    margin: 10px;
}

label{
    margin: 10px;
    max-width: 100%;
}

input{
    margin: 10px;
    max-width: 100%;

}