.booking-page {
    background: var(--silver50);
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.container{
    padding-top:20px;
    font-family: 'VWAGTheSans-Bold';
}

form{
    align-self: center;
    align-items: center;
    background-color: var(--silver); 
}

.obs-textbox{
    width: 90%;
    margin: 10px;
}

label{
    margin: 10px;
    max-width: 100%;
    font-weight: 700;
}

input{
    margin: 10px;
    max-width: 100%;
}

.itinerary a{
    color: var(--petrol);
    font-size: 2.5vh;
}

.itinerary a:hover{
    color: white;
    font-size: 2.5vh;
}