/* US AS color: var(--reddark) */
:root {
  --white: white;
  --black: black;
  --silver50: rgba(212,214,217,0.5);
  --silver: rgb(168,173,179);
  --red: rgb(162,30,77); /* #A21E4D */
  --reddark: rgb(95,25,57);
  --grey: rgb(76,83,86);
  --petrol: rgb(0,70,102);
  --petrollight: rgb(198,223,231);
}

@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';


.App {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  width: 90vw;
}

header{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5vh;
}

header img{
  height: auto;
  width: calc(100px + 12vw);
}

h1{
  font-family: 'VWAGTheSans-Light';
  font-size: calc(12px + 2.5vw);
  text-align: right;
  border-right: solid 5px var(--reddark);
  border-bottom: solid 2px var(--reddark);
  padding-right: 2vw;
}

h2{
  font-family: 'VWAGTheSans-Bold';
  font-size: 3vw;
  border-bottom: solid 2px var(--reddark);
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-weight: 600;
}

.home-buttons{
  padding-top: 5vh;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: var(--reddark) ;
  border: solid 2px var(--reddark);
  box-shadow: none;
  padding: 6px 12px;
  margin:1vw;
  color: white;
  font-family: 'VWAGTheSans-Bold';
  font-size: calc(9px + 0.5vw);
}

button:hover{
  background-color: var(--white) ;
  border: solid 2px var(--reddark) ;
  box-shadow: none;
  margin:1vw;
  color:var(--petrol);
}

button:focus{
  background-color: var(--white) ;
  border: solid 2px var(--reddark) ;
  color:var(--petrol);
  box-shadow: none;
  outline: transparent;
}

.backButton{
  display:flex;
  background-color: transparent;
  border:none;
  color:var(--petrol);
  font-size: 3vh;
  font-family: 'VWAGTheSans-Light';
  width: 30vw;
  font-size:2vh;
  justify-content: right;
}


a{
  color: white;
  font-family: 'VWAGTheSans-Bold';
  font-size: 2vh;
}

a:hover{
  text-decoration: none;
  color:var(--petrol);
}

@media screen and (max-width: 740px) {
  header img{
    height: auto;
    min-width: 150px;
    width: 40vw;
  }

  h1{
    font-size: calc(8px + 5vw);
    border-right: solid 10px var(--reddark);
    border-bottom: solid 5px var(--reddark);
    width: 50vw;
    margin-left:42vw;
  }

  h2{
    width: 60vw;
    font-size: calc(8px + 3vw);
    margin:auto;
  }

  button {
    font-size: calc(8px + 1.2vw);
  }
}

