/* US AS color: var(--reddark) */
:root {
  --white: white;
  --black: black;
  --silver50: rgba(212,214,217,0.5);
  --silver: rgb(168,173,179);
  --red: rgb(162,30,77); /* #A21E4D */
  --reddark: rgb(95,25,57);
  --grey: rgb(76,83,86);
  --petrol: rgb(0,70,102);
  --petrollight: rgb(198,223,231);
}


.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
